<!DOCTYPE html>
<html lang="en">
<head>
  <title>Armament
</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>
<body>
     

<div class="jumbotron text-center" style="margin-bottom: 0">
  <h1>ขายอาวุธยุทโธปกรณ์</h1> 
  <p>พ่อค้าเถื่อนหนีภาษี อิอิกำ</p>
</div>
  
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="{% url 'home-page' %}">Armament Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
                      <ul class="navbar-nav mr-auto">
                         <li class="nav-item">                  
                          <a class="nav-link" href="{% url 'allproduct-page' %}">สินค้าทั้งหมด</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ประเภทสินค้า</a>
                          <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">รถถังประจำบาน</a>
                            <a class="dropdown-item" href="#">เครื่องบินรบ</a>
                            <a class="dropdown-item" href="#">ปืนกล</a>
                          </div>
                        </li>
                        <li class="nav-item">                                 
                          <a class="nav-link" href="{% url 'contact-page' %}">ติดต่อ</a>
                        </li>
                        <li class="nav-item">                                     
                          <a class="nav-link" href="{% url 'about-page' %}">เกี่ยวกับเรา</a>
                        </li>
                                              
                        <li class="nav-item">                                 
                          <a class="nav-link" href="{% url 'test-page' %}">Test</a>
                        </li>

                        {% if user.is_authenticated and user.profile.usertype == 'member' %}      
                        <li class="nav-item">                                                  
                          <a class="nav-link" href="{% url 'mycart-page' %}">ตะกร้าสินค้า <span class="badge badge-warning">{{user.profile.cartquan}}</span> </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'orderlist-page' %}">รายการสั่งซื้อ</a>
                        </li>
                        {% endif %}

                        {% if user.is_authenticated and user.profile.usertype == 'admin' %}                 
                          <li class="nav-item">                         
                            <a class="nav-link" href="{% url 'addproduct-page' %}">เพิ่มสินค้า</a> 
                            </li> 

                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'allorderlist-page' %}">รายการสั่งซื้อทั้งหมด</a>
                          </li>
                          {% endif %}
                                     
                       
                      </ul>

                      {% if user.is_authenticated %}
                      <img src="{{user.profile.photo.url}}" width="40" height="40" class="rounded-circle">
                        <p style="color:white; margin-top: 2px">สวัสดีคุณ&nbsp&nbsp {{ user.first_name }} {{user.last_name}}&nbsp&nbsp </p>
                        <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>

                      {% else %}
                        <a class="btn btn-primary" href="{% url 'register-page' %}">Register</a>&nbsp&nbsp&nbsp 
                        <a class="btn btn-primary" href="{% url 'login' %}">Login</a>

                      {% endif %}
                
                                            
        </div>  
          
      </nav>
  
<div class="container" style="margin-top: 30px">
  {% block content %}

  {% endblock content %}

</div>

</body>
</html>
