{% extends 'myapp/base.html' %}
{% load humanize %}	

{% block content %}

<br>

	<div class="container">
	  	<h2>รายการสั่งซื้อทั้งหมด</h2>
	  	<p>รายการสั่งซื้อทั้งและสถานะการสั่งซื้อ</p>            
	  	<table class="table">
	    	<thead>
	      	<tr>
		        <th>เวลาสั่งซื้อ</th>
		        <th>Order ID</th>
		        <th>ยอดรวม</th>
		        <th>ค่าส่ง</th>
		        <th>ยอดโอน</th>
		        <th>สถานะ</th>
		        <th>Tracking</th>
	      	</tr>
	    	</thead>
	    <tbody>

	    {% for od in allorder %}
	    	<tr>
		        <td>{{ od.stamp }}</td>
		        <td> <a href="{% url 'myorder-page' od.orderid %}">{{ od.orderid }}</a> </td>
		     	<td>{{ od.total|intcomma }}</td>
		     	<td>{{ od.shipcost|intcomma }}</td>
		     	<td>{{ od.total|add:od.shipcost|intcomma }}</td>
		        <td>
		        	{% if od.paid %}
		        		<i class="fa fa-money" style="font-size:16px;color:green;"></i> จ่ายเงินแล้ว
		        	{% else %}
		        		<a href="{% url 'uploadslip-page' od.orderid%}" class="btn btn-primary">อัพโหลดสลิป</a>
		        	{% endif %}
		        </td>
		        <td>		   
		        	{% if od.trackingnumber != None %}
		        		{{od.trackingnumber}}
		        	{% endif %}		       
		        </td>		
	      	</tr>
	     {% endfor %} 

	    </tbody>
	  </table>	
	</div>

	<br>

	<ul class="pagination">

  {% if allorder.has_previous and allorder.has_next != True%}
    <li class="page-item"><a class="page-link" href="?page={{allorder.previous_page_number}}"> < </a></li>
    <li class="page-item"><a class="page-link" href="?page={{allorder.number|add:-2}}">{{allorder.number|add:-2}}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{allorder.number|add:-1}}">{{allorder.number|add:-1}}</a></li>
    <li class="page-item active"><a class="page-link" href="?page={{allorder.number}}">{{allorder.number}}</a></li>

  {% endif %}

  {% if allorder.has_previous and allorder.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{allorder.previous_page_number}}"> < </a></li>
    <li class="page-item"><a class="page-link" href="?page={{allorder.number|add:-1}}">{{allorder.number|add:-1}}</a></li>
    <li class="page-item active"><a class="page-link" href="?page={{allorder.number}}">{{allorder.number}}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{allorder.number|add:1}}">{{allorder.number|add:1}}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{allorder.next_page_number}}"> > </a></li>
  {% endif %}

  {% if allorder.has_next and allorder.has_previous != True %}
    <li class="page-item active"><a class="page-link" href="?page={{allorder.number}}">{{allorder.number}}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{allorder.number|add:1}}">{{allorder.number|add:1}}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{allorder.number|add:2}}">{{allorder.number|add:2}}</a></li> 
    <li class="page-item"><a class="page-link" href="?page={{allorder.next_page_number}}"> > </a></li>
   {% endif %}
   
</ul><p> หน้า {{allorder.number}} จาก {{allorder.paginator.num_pages}}</p>
{% endblock content %}
