{% extends 'myapp/base.html' %}

{% block content %}


  <div class="row">
    <div class="col-md">
      <img src="https://f.ptcdn.info/627/050/000/ooqmp1gvYZftlXAYDx-o.jpg" width="300">
      <h3>{{product1}}</h3> 
      <p>อาร์มาตา ติดปืนใหญ่รถถังชนิดลำกล้องเกลี้ยง ขนาด 125 มม. ใช้ยิงกระสุนพลังสูงรุ่นใหม่ กระสุนเจาะเกราะ จรวดนำวิถี</p>
      <p>The T-14 Armata (Russian: Т-14 «Армата»; industrial designation "Ob'yekt 148", Russian: Объект 148) is a next-generation Russian main battle tank based on the Armata Universal Combat Platform—the first series-produced next-generation tank. The Russian Army initially planned to acquire 2,300 T-14s between 2015 and 2020.[16][17][18][19] Production and fiscal shortfalls delayed this to 2025,[20] and then to the cancellation of the main production run.[21] The test batch of 100 is to be delivered and deployed to the 2nd Guards Tamanskaya Motor Rifle Division, with delivery expected to begin in 2021; tanks will be transferred only after the completion of all state tests</p>
    </div>
   {% endblock content %}
    